header{
    height:100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header_container{
    text-align: center;
    height: 100%;
    position: relative;
}

.button{
    margin-top:2.5rem;
    display: flex;
    gap:1.2rem;
    justify-content: center; 
}
.headerSocial{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.8rem;
    position: absolute;
    left:0;
    bottom: 3rem;
    font-size: 1.3rem;
    color: var(--box-color2);

}
.headerSocial::after{
    content:" ";
    width: 1px;
    height:2rem;
    background-color: var(--box-color2);
}
/* image */
.me{
   
   width: 22rem;
   height: 30rem;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   margin-top: 3rem;
   /* overflow: hidden; */
 
   
}
.rounded{
    border-radius: 12rem 12rem 0rem 0rem;

}
.scrollDown{
    position: absolute;
    bottom: 5rem;
    right:-2.3rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

@media screen and (max-width:1024px) {
    header{
        height:70vh;
    }
}
@media screen and (max-width:600px) {
    header{
       height:100vh;
    }
   
    .headerSocial, .scrollDown{
        /* position: absolute;
        left: -9999px; */
        display: none;
    }
 
}